@model ShopSphere.App.ViewModels.Orders.IndexViewModel;
@{
    ViewData["Title"] = "Orders";
}

<div class="text-center">
    <h1 class="display-4">Orders (@Model.Orders.Count)</h1>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Items</th>
                <th>Shipping Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.User.Name</td>
                    <td>@order.Items</td>
                    <td>@order.ShippingAddress.Location</td>
                </tr>
            }
        </tbody>
    </table>
</div>
